%div
  %div{:style => "float: left;  margin-top:70px;"}
    %img{:src => "/FOTO3.png", :width => "500", :height => "350"}
  %div{:style => "float: center; width: 1350px;"}
    .heading
      %br
      %h2 About Software Oriented Architecture
  %div{:style => "width: 1350px; margin:0 auto;  margin-top:70px;"}
    %div{:style => "width: 800px; color:white; margin:0 auto; text-align: justify; float:left;"}
      %h3 Service oriented architecture (SOA) is a technique that involves the interaction between loosely coupled services that function independently.
      %br
      %h3 Service-oriented architecture (SOA) is an approach used to create an architecture based upon the use of services. Services (such as RESTful Web services) carry out some small function, such as producing data, validating a customer, or providing simple analytical services.
      %br
    %div{:style => "float:center; width: 200px; margin:0 auto; text-align:center; float:right;"}
      %img{:src => "/foto2 (Copy).png", :width => "226px", :height => "150px"}
      .links
        %a{:href => '/develop'} About Developers
        %br
        %br
        %a{:href => "/aboutsoa"} About SOA
  %div{:style => "float: center; clear:both;"}
