%div
  %div{:style => "float: left;  margin-top:70px;"}
    %img{:src => "/FOTO3.png", :width => "500", :height => "350"}
  %div{:style => "float: center; width: 1350px;"}
    .heading
      %br
      %h2 About Developers
  %div{:style => "width: 1350px; margin:0 auto;  margin-top:70px;"}
    %div{:style => "width: 800px; color:white; margin:0 auto; text-align: justify; float:left;"}
      %h3 The developers of this service are students of the NTHU Software Oriented Architecture course. We are Clive Augustine, Amounce and Jevon Mckenzie. As international students we are proudly representing the countries of St. Lucia, Burkina Faso and Belize respectively. With the guidance of our esteemed proffesor, Soymya Ray, we aquired the necessary knowledge and skills that are needed to create and integrate the various components necessary to create flexible, scalable systems whilst adopting the practices of distributed development. Many thanks Professor Ray, we truly appreciate the wealth of knowledge that you imparted on us.
      %br

    %div{:style => "float:center; width: 200px; margin:0 auto; text-align:center; float:right;"}
      %img{:src => "/foto2 (Copy).png", :width => "226px", :height => "150px"}
      .links
        %a{:href => '/develop'} About Developers
        %br
        %br
        %a{:href => '/aboutsoa'} About SOA
  %div{:style => "float: center; clear:both;"}
