%div
  %div{:style => "float: left;  margin-top:70px;"}
    %img{:src => "/FOTO3.png", :width => "500", :height => "350"}
  %div{:style => "float: center; width: 1350px;"}
    .heading
      %br
      %h2 Welcome to Team Pay
  %div{:style => "width: 1350px; margin:0 auto;  margin-top:70px;"}
    %div{:style => "width: 800px; color:white; margin:0 auto; text-align: justify; float:left;"}
      %h3 This web service was designed as part of a Service Oriented Architecture (SOA) class project at Taiwan National Tsing Hua University. The project incorporates the use of:
      %br
      .objectives
        %ul
          %li Distributed coding and version control
          %li Object enumeration, serialization and marshalling
          %li Service controllers: RESTful API, event logging
          %li Service views: Web, mobile, SNS, Google analytics
          %li Service resources: database, computational, 3rd party services, DOM traversal
          %li Cloud deployment, SaaS, create open-source SDK
          %li Enterprise architecture design patterns
          %li Workflows and messaging
    %div{:style => "float:center; width: 200px; margin:0 auto; text-align:center; float:right;"}
      %img{:src => "/foto2 (Copy).png", :width => "226px", :height => "150px", :align => "middle"}
      .links
        %a{:href => '/develop'} About Developers
        %br
        %br
        %a{:href => '/aboutsoa'} About SOA
  %div{:style => "float: center; clear:both;"}
